<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatiaocao.myblog.mapper.CategoriesMapper">
    <select id="getArticleCategories" resultType="com.javatiaocao.myblog.model.Category">
        select id,categoryName from categories
    </select>

    <select id="categoryNameIsExist" resultType="com.javatiaocao.myblog.model.Category">
        select id,categoryName from categories where categoryName=#{categoryName}
    </select>

    <insert id="saveCategory">
        insert into categories(categoryName) values (#{categoryName})
    </insert>

    <delete id="deleteCategory">
        delete from categories where categoryName = #{categoryName}
    </delete>

    <select id="findCategoriesNames" resultType="java.lang.String">
        select categoryName from categories
    </select>

</mapper>