<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatiaocao.myblog.mapper.LeaveMessageMapper">

    <select id="getUserLeaveWord" resultType="com.javatiaocao.myblog.model.LeaveMessageRecord">
        select * from leave_message_record order by id desc
    </select>


</mapper>